<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="container">
      <ion-icon id="arrow-back-outline" name="arrow-back-outline" (click)="volverAtras()"></ion-icon>
      Página de Productos
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card *ngFor="let producto of productos; let i = index">
    <ion-card-header>
      <ion-card-title>
        <ion-icon name="cart-outline"></ion-icon>
        Producto {{i+1}}
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
      Ut enim ad minim veniam,quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
    </ion-card-content>
  </ion-card>

</ion-content>